body{
  background: #000;
  color: #fff;
}

.container{
  max-width: 1200px;
  margin: 10px auto;
  padding: 20px;
}

.enter-todo{
  margin-bottom: 20px;
}

input{
  padding: 10px 20px;
  border-radius: 10px;
}

ul{
  list-style-type:none;
  padding-left: 0;
}

.labels li{
  display: inline-block;
  margin-right: 20px;
}

button{
  padding: 10px 20px;
  color: #000000;
  background: #ffd900;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 14px;
}

.list-items {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.list-items input[type="checkbox"] {
  margin-right: 10px;
}


@media (max-width: 768px){
  .container{

  }
}